@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LWH</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/js/site.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        main {
            opacity: 0;
            transition: opacity 1s;
        }

            main.loaded {
                opacity: 1;
            }
    </style>
    <script>
        window.onload = function () {
            var main = document.querySelector('main');
            main.classList.add('loaded');
        };
    </script>
</head>

<body>
    <nav class="navbar align-items-center border-bottom">
        <div class="container-fluid">
            <div class="d-flex align-items-center ">
                <a href="#" class="navbar-brand m-0 textColor fw-bold brand">L W H</a>
                <div id="verticalbar" class="mx-xxl-2 mx-1 d-none d-lg-inline-block"></div>
                <a href="#" class="nav-link textColor fw-lighter lh-sm brandSubHeading d-none d-lg-inline-block">
                    Logi
                    <br>
                    <span class="brandSubHeading d-none d-lg-inline-block">Where</span>
                    <br>
                    <span class="brandSubHeading d-none d-lg-inline-block">Hub</span>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-none d-lg-block">
                    <ul class="d-flex m-0 list-unstyled ">
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a href="/" class="nav-link text-center  p-0">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                    <img class="one iconHeight mx-2" src="~/img/home.png" />
                                    <img class="two iconHeight mx-2" src="~/img/homesecond.png" />
                                </div>
                                <div class="smallFont textColor">Главная</div>
                            </a>
                        </li>
                        <li class="nav-item iconChange   me-4 pt-2">
                            <a href="/Service" class="nav-link text-center p-0">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                    <img class="iconHeight mx-2" src="~/img/services.png" />
                                    <img class=" iconHeight mx-2" src="~/img/servicessecond.png" />
                                </div>
                                <div class="smallFont textColor">Услуги</div>
                            </a>
                        </li>
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a href="/Warehouse" class="nav-link text-center p-0">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                    <img class=" iconHeight mx-2" src="~/img/warehouse.png" />
                                    <img class=" iconHeight mx-2" src="~/img/warehousesecond.png" />
                                </div>
                                <div class="smallFont textColor">Склады</div>
                            </a>
                        </li>
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a href="/Auto" class="nav-link text-center p-0">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                    <img class=" iconHeight mx-2" src="~/img/auto.png" />
                                    <img class=" iconHeight mx-2" src="~/img/autosecond.png" />
                                </div>
                                <div class="smallFont textColor">Автопарк</div>
                            </a>
                        </li>
                        <li class="nav-item iconChange  me-3 pt-2">
                            <a href="/Team" class="nav-link text-center p-0">
                                <div class="d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                    <img class="iconHeight mx-2" src="~/img/team.png" />
                                    <img class="iconHeight mx-2" src="~/img/teamsecond.png" />
                                </div>
                                <div class="smallFont textColor">Команда</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <button id="hostBtn" class="btn btn-sm m-sm-2 m-1 text-white a rounded-5 px-3 d-none d-lg-inline-block">
                    <img class="me-2 mb-1 iconHeight" src="~/img/vak.png" />
                    Вакансии
                </button>
                <button id="loginBtn" class="btn btn-sm m-sm-2 m-1 bg-primary text-white rounded-5 px-sm-3 px-2" onclick="redirectToAuthPage()">
                    Авторизация
                    <img class="d-none d-lg-inline-block iconHeight" src="~/img/avatar.png" />
                </button>
                <script>
                    function redirectToAuthPage() {
                        window.location.href = "/AutchPage";
                    }
                </script>

            </div>
        </div>
    </nav>
    <nav id="secondNav" class="bottom-0 position-fixed end-0 start-0">
        <div class="d-lg-none">
            <div class="container-fluid d-flex justify-content-between shadow pt-2">
                <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="~/img/homesecond.png" />
                    <div class="extraSmallFont pb-1">Главная</div>
                </a>
                <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="~/img/servicessecond.png" />
                    <div class="extraSmallFont pb-1">Услуги</div>
                </a>
                <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="~/img/warehousesecond.png" />
                    <div class="extraSmallFont pb-1">Склады</div>
                </a>
                <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="~/img/autosecond.png" />
                    <div class="extraSmallFont pb-1">Автопарк</div>
                </a>
                <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="~/img/teamsecond.png" />
                    <div class="extraSmallFont pb-1">Команда</div>
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <img src="~/img/utiex.jpg" />
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>